{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/subscribe.css') }}">
{% endblock %}


{% block body %}

	{{ form_start(form) }}

		<div class="row">
			<div class="col">
				{{ form_errors(form.pseudo) }}
				<div  class="form-label">{{ form_label(form.pseudo) }}</div>
				<div  class="form-control">{{ form_widget(form.pseudo) }}</div>
			</div>
			<div class="col">
				{{ form_errors(form.email) }}
				<div  class="form-label">{{ form_label(form.email) }}</div>
				<div  class="form-control">{{ form_widget(form.email) }}</div>
			</div>
			<div class="col">
				{{ form_errors(form.password) }}
				<div  class="form-label">{{ form_label(form.password) }}</div>
				<div  class="form-control">{{ form_widget(form.password) }}</div>
			</div>
		</div>
	{{ form_end(form) }}

{% endblock %}